.home {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100%;
  .img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    .home-bg {
      width: 70%;
      max-width: 400px;
      margin-bottom: 20px;
    }
  }
}
